.mainCourseBox{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
}
.leftCourseBox{
width: 30%;
padding-left: 10%;
}
.rightCourseBox{
width: 60%;
display: flex;
justify-content: center;
align-items: center;
}